<kt-portlet>


    <kt-portlet-header [class]="'kt-portlet__head--lg'" [title]="'Staff Attendance'">
    </kt-portlet-header>
    <!-- [viewLoading$]="dataSource.loading$" -->


    <kt-portlet-body>

        <div class="kt-form kt-margin-b-30">
            <form class="form" [formGroup]="searchForm">
                <div class="card-body">

                    <div class="card-body-progress">
                        <mat-spinner [diameter]="20"></mat-spinner>
                    </div>

                    <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
                        (close)="onAlertClose($event)">
                        Oh snap! Change a few things up and try submitting again.
                    </kt-alert>

                    <div class="form-group row">
                        <div class="col-lg-4 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select placeholder="Role" formControlName="roleId">
                                    <mat-option [value]="role.id" *ngFor="let role of rolesList">
                                        {{role.name}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>
                        </div>
                        <!-- <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput placeholder="Enter Text"
                                            formControlName="searchText" />
                                        <mat-error>Text
                                            <strong>is required</strong>
                                        </mat-error>

                                    </mat-form-field>
                                </div> -->
                        <div class="col-lg-3 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [matDatepicker]="picker" placeholder="Choose a Date "
                                    formControlName="attendanceDate" />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-hint align="start">Please enter
                                    <strong>Date </strong> in 'dd/MM/yyyy' format
                                </mat-hint>
                                <mat-error>Date
                                    <strong>is required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 kt-margin-bottom-20-mobile">

                            <button type="button" mat-raised-button color="primary" (click)="onSearch()"
                                [disabled]="viewLoading" matTooltip="Save changes">
                                Search
                            </button>
                        </div>

                    </div>

                </div>

            </form>

        </div>

        <!-- start::FILTERS -->
        <!-- <div class="kt-form__filtration">
                    <div class="row align-items-center">

                        <div class="col-md-2 kt-margin-bottom-10-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput placeholder="Search Check Out Policy " #searchInput
                                    placeholder="Search">
                                <mat-hint align="start">
                                    <strong>Search</strong> in all fields
                                </mat-hint>
                            </mat-form-field>
                        </div>

                    </div>
                </div> -->
        <!-- end::FILTERS -->
        <div class="d-flex justify-content-between">
                    <div class="mr-2"></div>
                    <div>
                     
                        <button type="button" mat-raised-button color="primary" (click)="onMarkAsHoliday()" [disabled]="viewLoading" matTooltip="Save changes">
                            Mark As Holiday
                        </button> &nbsp;
                        <button type="button" mat-raised-button color="primary" (click)="onSaveAttendance()" [disabled]="viewLoading" matTooltip="Save changes">
                            Save Attendance
                        </button>
                    </div>
                </div>

        <!-- <div class="mailbox-controls">
            <span class="button-checkbox">
                <button type="button" class="btn btn-sm btn-primary" data-color="primary"><i
                        class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Mark As Holiday</button>
                <input type="checkbox" id="checkbox1" class="hidden" name="holiday" value="checked">
            </span>
            <div class="pull-right">
                <button type="submit" name="search" value="saveattendence"
                    class="btn btn-primary btn-sm pull-right checkbox-toggle"><i class="fa fa-save"></i> Save Attendance
                </button>
            </div>
        </div> -->
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
                matSortActive="id" matSortDirection="asc" matSortDisableClear>
                <!-- <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                            <mat-cell *matCellDef="let staffAttendance;let i=index">{{i+1}}</mat-cell>
                        </ng-container> -->

                <ng-container matColumnDef="staffId">
                    <mat-header-cell  *matHeaderCellDef mat-sort-header>Staff Id
                    </mat-header-cell>
                    <mat-cell *matCellDef="let staffAttendance">{{staffAttendance.staffId}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell  *matHeaderCellDef mat-sort-header>Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let staffAttendance">{{staffAttendance.name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="role">
                    <mat-header-cell  *matHeaderCellDef mat-sort-header>Role
                    </mat-header-cell>
                    <mat-cell *matCellDef="let staffAttendance">{{staffAttendance.role}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="attendance">
                    <mat-header-cell  *matHeaderCellDef mat-sort-header>Attendance
                    </mat-header-cell>
                    <mat-cell *matCellDef="let staffAttendance;let i=index">
                        <mat-radio-group [(ngModel)]="staffAttendance.attendenceType"
                            (change)="onChangeAttendanceType(i,$event.value)" [disabled]="markAsHoliday ? true : null">
                            <ng-container *ngIf="staffAttendance.attendenceType==null ">

                            </ng-container>
                            <ng-container *ngFor="let attendanceType of attendanceTypeList">
                                <ng-container *ngIf="attendanceType.type!='Late With Excuse'">
                                    <mat-radio-button [value]="attendanceType.type">
                                        {{attendanceType.type}}
                                    </mat-radio-button>
                                </ng-container>
                            </ng-container>
                        </mat-radio-group>
                    </mat-cell>

                </ng-container>



                <ng-container matColumnDef="note">
                    <mat-header-cell  *matHeaderCellDef mat-sort-header>Note
                    </mat-header-cell>
                    <mat-cell *matCellDef="let staffAttendance">

                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [(ngModel)]="staffAttendance.note" value="{{staffAttendance.note}}" />

                        </mat-form-field>

                    </mat-cell>
                </ng-container>



                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
            <!-- Message for empty data  -->
            <!-- <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div> -->
            <!-- <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait.... -->
            <!-- </div> -->
        </div>

        <!-- start: BOTTOM -->
        <!-- <div class="mat-table__bottom">
                    <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
                   <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20, 30]"
                        [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
                </div> -->
        <!-- end: BOTTOM -->

    </kt-portlet-body>
    <!-- end::Body -->

</kt-portlet>