<div class="card card-custom" [ngClass]="{ 'card-body-progress card-body-progress-overlay' : viewLoading }">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">{{getTitle()}}</h3>
		</div>

		<button mat-icon-button class="close-button" [mat-dialog-close]="true">
			<mat-icon class="close-icon" color="warn">close</mat-icon>
		</button>
	</div>
	<!-- <form class="form" [formGroup]="staffLeaveRequestForm"> -->
	<div class="card-body">


		<div class="col-md-12 table-responsive">
			<table class="table mb0  table-bordered ">
				<tbody>
					<tr>
						<th width="15%">Name</th>
						<td width="40%"><span>{{staffLeaveRequest.staffName}}</span></td>
						<th width="15%">Staff ID</th>
						<td width="30%"><span>{{staffLeaveRequest.staffId}}</span>
						</td>
					</tr>
					<tr>
						<th>Submitted By</th>
						<td><span>{{staffLeaveRequest.staffName}}</span></td>
						<th>Leave Type</th>
						<td><span>{{staffLeaveRequest.leaveType}}</span>
					</tr>
					<tr>
						<th>Leave</th>
						<td><span>{{staffLeaveRequest.leaveFrom}}</span> -
							<span>{{staffLeaveRequest.leaveTo}}</span>
							(<span>{{staffLeaveRequest.leaveDays}} Days</span>)
						</td>
						<th>Apply Date</th>
						<td><span>{{staffLeaveRequest.date}}</span></td>
					</tr>
					<tr>

						<th>Reason</th>
						<td><span>{{staffLeaveRequest.reason}}</span></td>
						<th>Download</th>
						<td>
							<button type="button" (click)="documentFile(staffLeaveRequest.documentFile)" mat-icon-button
								color="primary" matTooltip="download">
								<mat-icon>cloud_download</mat-icon>
							</button>
						</td>
					</tr>

				</tbody>
			</table>
		</div>


	</div>

</div>