<<<<<<< HEAD
//
// Reset
//

@mixin button-reset() {
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none  !important;
    margin: 0;
    padding: 0;
}

@mixin input-reset() {
	border: 0;
	background-color: transparent;
	outline: none !important;
	box-shadow: none;
}
=======
//
// Reset
//

@mixin button-reset() {
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none  !important;
    margin: 0;
    padding: 0;
}

@mixin input-reset() {
	border: 0;
	background-color: transparent;
	outline: none !important;
	box-shadow: none;
}
>>>>>>> d05e719b8d76eea2e2bfb31a974d47e8096a290b
