<<<<<<< HEAD
//
// Error 4
//

// Initialization of global variables, mixins and functions
@import "../../init";

.error.error-4 {
	.error-title {
		font-size: 8.7rem !important;
	}
	.error-subtitle {
		font-size: 4.5rem !important;
	}
}

@include media-breakpoint-up(md) {
	.error.error-4 {
		.error-title {
			font-size: 15.7rem !important;
		}
		.error-subtitle {
			font-size: 9.5rem !important;
		}
	}
}
=======
//
// Error 4
//

// Initialization of global variables, mixins and functions
@import "../../init";

.error.error-4 {
	.error-title {
		font-size: 8.7rem !important;
	}
	.error-subtitle {
		font-size: 4.5rem !important;
	}
}

@include media-breakpoint-up(md) {
	.error.error-4 {
		.error-title {
			font-size: 15.7rem !important;
		}
		.error-subtitle {
			font-size: 9.5rem !important;
		}
	}
}
>>>>>>> d05e719b8d76eea2e2bfb31a974d47e8096a290b
