<<<<<<< HEAD
//
// Code
//

code {
    background-color: $code-bg;
    padding: $code-padding;
    font-weight: 400;
    @include border-radius($border-radius);
}
=======
//
// Code
//

code {
    background-color: $code-bg;
    padding: $code-padding;
    font-weight: 400;
    @include border-radius($border-radius);
}
>>>>>>> d05e719b8d76eea2e2bfb31a974d47e8096a290b
