<<<<<<< HEAD
//
//  Toggle
//

.toggle-off {
    .toggle-off-item {
        display: none !important;
    }
}

.toggle-on {
    .toggle-on-item {
        display: none !important;
    }
}
=======
//
//  Toggle
//

.toggle-off {
    .toggle-off-item {
        display: none !important;
    }
}

.toggle-on {
    .toggle-on-item {
        display: none !important;
    }
}
>>>>>>> d05e719b8d76eea2e2bfb31a974d47e8096a290b
