<!-- <ngx-dropzone (change)="onSelect($event)">
	<ngx-dropzone-label>Drop or Browse</ngx-dropzone-label>
	<ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let upload of uploads"
		(removed)="onRemove(upload)" 
		[file]="upload.data.raw"
    [removable]="true"
  >
    <ngx-dropzone-label>
        Name: {{ upload.data.name }}<br />
        State: {{upload.data.state}}<br />
        Progress: {{upload.data.progress}}%
    </ngx-dropzone-label>

  </ngx-dropzone-image-preview>
</ngx-dropzone> -->