<kt-portlet>
	<!-- See prop => '../../_core/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header [class]="'kt-portlet__head--lg'" [title]="'Teacher Time Table'" [viewLoading$]="loading">


	</kt-portlet-header>
	<!-- end::Header -->


	<kt-portlet-body>

		<div class="kt-form kt-margin-b-30">
			<form class="kt-form" [formGroup]="classTimetableForm">
				<div class="kt-portlet__body">

					<!-- <div class="kt-portlet__body-progress">
                                            <mat-spinner [diameter]="20"></mat-spinner>
                                        </div> -->

					<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
						(close)="onAlertClose($event)">
						Oh snap! Change a few things up and try submitting again.
					</kt-alert>
					<div class="row ">
						<div class="col-lg-3 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Select Teacher" formControlName="staffId">
									<mat-option *ngFor="let staff of staffList" [value]="staff.id">
										{{staff.name}} {{staff.surname}}
									</mat-option>
								</mat-select>

							</mat-form-field>
						</div>
						<div class="col-lg-3 kt-margin-bottom-20-mobile">
							<button type="button" mat-raised-button color="primary" (click)="onSearch()"
								[disabled]="viewLoading" matTooltip="Search">
								Search
							</button>
						</div>
					</div>


				</div>

			</form>

			<div class="kt-separator kt-separator--dashed"></div>




		</div>

		<!-- 
                <hr>
		<table>

			<thead>
				<tr>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Saturday</th>
					<th>Sunday</th>

				</tr>

			</thead>

			<tbody>
				
				<tr>
					<br>
				</tr>
				<tr>
					<td>
						
						<span>
							<ng-container *ngIf="classTimetablesData?.monday.length==0">
								<mat-card>Not
									Scheduled</mat-card>
							</ng-container>
							<ng-container *ngIf="classTimetablesData?.monday.length>0">
						
								
								<ng-container *ngFor="let data of classTimetablesData?.monday">

									<mat-card>
										<span>Subject : {{data.subjectName}}</span> <br>
										<span>{{data.timeFrom}}-{{data.timeTo}}</span> <br>
										<span>Room Number : {{data.roomNo}}</span> <br>
									</mat-card>
									<br>
								</ng-container>
								</ng-container>
								
						</span>

					</td>
					<td>
						<span>
							<ng-container *ngIf="classTimetablesData?.tuesday.length==0">
								<mat-card>Not
									Scheduled</mat-card>
							</ng-container>
						
							<ng-container *ngIf="classTimetablesData?.tuesday.length>0">
								<ng-container *ngFor="let data of classTimetablesData?.tuesday">

									<mat-card>
										<span>Subject : {{data.subjectName}}</span> <br>
										<span>{{data.timeFrom}}-{{data.timeTo}}</span> <br>
										<span>Room Number : {{data.roomNo}}</span> <br>
									</mat-card>
									<br>
								</ng-container>
							
							</ng-container>


						</span>

					</td>
					<td>

						<span>
							<ng-container *ngIf="classTimetablesData?.wednesday.length==0">
								<mat-card>Not
									Scheduled</mat-card>
							</ng-container>
							
							<ng-container *ngIf="classTimetablesData?.wednesday.length>0">
								<ng-container *ngFor="let data of classTimetablesData?.wednesday">

									<mat-card>
										<span>Subject : {{data.subjectName}}</span> <br>
										<span>{{data.timeFrom}}-{{data.timeTo}}</span> <br>
										<span>Room Number : {{data.roomNo}}</span> <br>
									</mat-card>
									<br>

								</ng-container>
							
							</ng-container>
						</span>
					</td>
					<td>
						<span>
							<ng-container *ngIf="classTimetablesData?.thursday.length==0">
								<mat-card>Not
									Scheduled</mat-card>
							</ng-container>
							
								
							<ng-container *ngIf="classTimetablesData?.thursday.length>0">
								<ng-container *ngFor="let data of classTimetablesData?.thursday">


									<mat-card>
										<span>Subject : {{data.subjectName}}</span> <br>
										<span>{{data.timeFrom}}-{{data.timeTo}}</span> <br>
										<span>Room Number : {{data.roomNo}}</span> <br>
									</mat-card>
									<br>
								</ng-container>
								
							</ng-container>


						</span>

					</td>
					<td>
						<span>
							<ng-container *ngIf="classTimetablesData?.friday.length==0">
								<mat-card>Not
									Scheduled</mat-card>
							</ng-container>
							
								<ng-container *ngIf="classTimetablesData?.friday.length>0">
							
								<ng-container *ngFor="let data of classTimetablesData?.friday">

									<mat-card>
										<span>Subject : {{data.subjectName}}</span> <br>
										<span>{{data.timeFrom}}-{{data.timeTo}}</span> <br>
										<span>Room Number : {{data.roomNo}}</span> <br>
									</mat-card>
									<br>

								</ng-container>
								</ng-container>
							


						</span>

					</td>
					<td>
						<span>
							<ng-container *ngIf="classTimetablesData?.saturday.length==0">
								<mat-card>Not
									Scheduled</mat-card>
							</ng-container>
							
								<ng-container *ngIf="classTimetablesData?.saturday.length>0">
							
								<ng-container *ngFor="let data of classTimetablesData?.saturday">

									<mat-card>
										<span>Subject : {{data.subjectName}}</span> <br>
										<span>{{data.timeFrom}}-{{data.timeTo}}</span> <br>
										<span>Room Number : {{data.roomNo}}</span> <br>
									</mat-card>
									<br>

								</ng-container>
								</ng-container>
							


						</span>

					</td>
					<td>
						<span>
							<ng-container *ngIf="classTimetablesData?.sunday.length==0">
								<mat-card>Not
									Scheduled</mat-card>
							</ng-container>
							
								<ng-container *ngIf="classTimetablesData?.sunday.length>0">
							
								<ng-container *ngFor="let data of classTimetablesData?.sunday">

									<mat-card>
										<span>Subject : {{data.subjectName}}</span> <br>
										<span>{{data.timeFrom}}-{{data.timeTo}}</span> <br>
										<span>Room Number : {{data.roomNo}}</span> <br>
									</mat-card>
									<br>
								</ng-container>
								</ng-container>
					
						</span>

					</td>

				</tr>
			</tbody>
		</table> -->



<hr>

		<div class="table-responsive">
			<table class="table table-stripped">
				<thead>
					<tr>
						<th class="text text-center">Monday</th>
						<th class="text text-center">Tuesday</th>
						<th class="text text-center">Wednesday</th>
						<th class="text text-center">Thursday</th>
						<th class="text text-center">Friday</th>
						<th class="text text-center">Saturday</th>
						<th class="text text-center">Sunday</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text text-center">

							<ng-container *ngIf="classTimetablesData?.monday.length==0">

								<div class="attachment-block clearfix">
									<span class="text text-center">Not <br>Scheduled</span><br>
								</div>
							</ng-container>
							<ng-container *ngIf="classTimetablesData?.monday.length>0">
								<ng-container *ngFor="let data of classTimetablesData?.monday">
									<div class="attachment-block clearfix">
										<span>Sub: {{data.subjectName}}</span><br>
										<span>Class: {{data.classes}}({{data.section}})</span><br>
										<span>{{data.timeFrom}}</span>
										<b class="text text-center">-</b>
										<span>{{data.timeTo}}</span><br>

										<span>Room No: {{data.roomNo}}</span><br>

									</div>

								</ng-container>
							</ng-container>
						</td>
						<td class="text text-center">

							<ng-container *ngIf="classTimetablesData?.tuesday.length==0">

								<div class="attachment-block clearfix">
									<span class="text text-center">Not <br>Scheduled</span><br>
								</div>
							</ng-container>
							<ng-container *ngIf="classTimetablesData?.tuesday.length>0">

								<ng-container *ngFor="let data of classTimetablesData?.tuesday">
									<div class="attachment-block clearfix">

										<span class="text-green">Sub: {{data.subjectName}}</span><br>
										<span>Class: {{data.classes}}({{data.section}})</span><br>
										<span class="text-green">{{data.timeFrom}}</span>
										<b class="text text-center">-</b>
										<span class="text-green">{{data.timeTo}}</span><br>

										<span class="text-green">Room No: {{data.roomNo}}</span><br>

									</div>
								</ng-container>
							</ng-container>

						</td>
						<td class="text text-center">

							<ng-container *ngIf="classTimetablesData?.wednesday.length==0">

								<div class="attachment-block clearfix">
									<span class="text text-center">Not <br>Scheduled</span><br>
								</div>
							</ng-container>
							<ng-container *ngIf="classTimetablesData?.wednesday.length>0">

								<ng-container *ngFor="let data of classTimetablesData?.wednesday">
									<div class="attachment-block clearfix">

										<span class="text-green">Sub: {{data.subjectName}}</span><br>
										<span>Class: {{data.classes}}({{data.section}})</span><br>
										<span class="text-green">{{data.timeFrom}}</span>
										<b class="text text-center">-</b>
										<span class="text-green">{{data.timeTo}}</span><br>

										<span class="text-green">Room No: {{data.roomNo}}</span><br>

									</div>
								</ng-container>
							</ng-container>
						</td>
						<td class="text text-center">

							<ng-container *ngIf="classTimetablesData?.thursday.length==0">

								<div class="attachment-block clearfix">
									<span class="text text-center">Not <br>Scheduled</span><br>
								</div>
							</ng-container>
							<ng-container *ngIf="classTimetablesData?.thursday.length>0">

								<ng-container *ngFor="let data of classTimetablesData?.thursday">
									<div class="attachment-block clearfix">

										<span class="text-green">Sub: {{data.subjectName}}</span><br>
										<span>Class: {{data.classes}}({{data.section}})</span><br>
										<span class="text-green">{{data.timeFrom}}</span>
										<b class="text text-center">-</b>
										<span class="text-green">{{data.timeTo}}</span><br>

										<span class="text-green">Room No: {{data.roomNo}}</span><br>

									</div>
								</ng-container>
							</ng-container>
						</td>
						<td class="text text-center">

							<ng-container *ngIf="classTimetablesData?.friday.length==0">

								<div class="attachment-block clearfix">
									<span class="text text-center">Not <br>Scheduled</span><br>
								</div>
							</ng-container>
							<ng-container *ngIf="classTimetablesData?.friday.length>0">

								<ng-container *ngFor="let data of classTimetablesData?.friday">
									<div class="attachment-block clearfix">

										<span class="text-green">Sub: {{data.subjectName}} </span><br>
										<span>Class: {{data.classes}}({{data.section}})</span><br>
										<span class="text-green">{{data.timeFrom}}</span>
										<b class="text text-center">-</b>
										<span class="text-green">{{data.timeTo}}</span><br>

										<span class="text-green">Room No: {{data.roomNo}}</span><br>

									</div>
								</ng-container>
							</ng-container>
						</td>
						<td class="text text-center">

							<ng-container *ngIf="classTimetablesData?.saturday.length==0">

								<div class="attachment-block clearfix">
									<span class="text text-center">Not <br>Scheduled</span><br>
								</div>
							</ng-container>
							<ng-container *ngIf="classTimetablesData?.saturday.length>0">

								<ng-container *ngFor="let data of classTimetablesData?.saturday">
									<div class="attachment-block clearfix">

										<span class="text-green">Sub: {{data.subjectName}}</span><br>
										<span>Class: {{data.classes}}({{data.section}})</span><br>
										<span class="text-green">{{data.timeFrom}}</span>
										<b class="text text-center">-</b>
										<span class="text-green">{{data.timeTo}}</span><br>

										<span class="text-green">Room No: {{data.roomNo}}</span><br>

									</div>
								</ng-container>
							</ng-container>
						</td>
						<td class="text text-center">

							<ng-container *ngIf="classTimetablesData?.sunday.length==0">

								<div class="attachment-block clearfix">
									<span class="text text-center">Not <br>Scheduled</span><br>
								</div>
							</ng-container>
							<ng-container *ngIf="classTimetablesData?.sunday.length>0">

								<ng-container *ngFor="let data of classTimetablesData?.sunday">
									<div class="attachment-block clearfix">

										<span class="text-green">Sub: {{data.subjectName}}</span><br>
										<span>Class: {{data.classes}}({{data.section}})</span><br>
										<span class="text-green">{{data.timeFrom}}</span>
										<b class="text text-center">-</b>
										<span class="text-green">{{data.timeTo}}</span><br>

										<span class="text-green">Room No: {{data.roomNo}}</span><br>

									</div>
								</ng-container>
							</ng-container>
						</td>
					</tr>
				</tbody>
			</table>
		</div>





	</kt-portlet-body>


</kt-portlet>