<kt-portlet>
	<kt-portlet-header [sticky]="true" [title]="'Class Timetable List'" [class]="'card-head-lg'"
		[viewLoading$]="loading">
		<ng-container ktPortletTools>
			<button (click)="addClassTimetable()" mat-raised-button color="primary"
				matTooltip="Create new ClassTimetable">New
				ClassTimetable</button>
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->
	<kt-portlet-body>
		<div class="kt-form kt-margin-b-30">
			<form class="form" [formGroup]="searchForm">
				<div class="card-body">

					<div class="card-body-progress">
						<mat-spinner [diameter]="20"></mat-spinner>
					</div>

					<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
						(close)="onAlertClose($event)">
						Oh snap! Change a few things up and try submitting again.
					</kt-alert>

					<div class="form-group row">
						<div class="col-lg-4 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Select Class" formControlName="classId"
									(selectionChange)="onClassSelectChange($event.value)">

									<mat-option *ngFor="let classData of classList" [value]="classData.id">
										{{classData.classses}}
									</mat-option>
								</mat-select>
								<mat-error>Class
									<strong>is required</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-lg-4 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Section" formControlName="sectionId">
									<mat-option *ngFor="let sectionData of sectionList" [value]="sectionData.id">
										{{sectionData.section}}
									</mat-option>
								</mat-select>
								<mat-error>Section
									<strong>is required</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-lg-4 kt-margin-bottom-20-mobile">
							<div class="d-flex justify-content-between">
								<!-- <div class="mr-2"></div> -->
								<div>
									<button type="button" mat-raised-button color="primary" (click)="onSearch()"
										matTooltip="Save changes">
										Search
									</button>
								</div>
							</div>
						</div>



					</div>

				</div>
			</form>
		</div>

		<!-- <hr> -->
		<!-- <table>

			<thead>
				<tr>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Saturday</th>
					<th>Sunday</th>

				</tr>

			</thead>

			<tbody>

				<tr>
					<br>
				</tr>
				<tr>
					<td>

						<span>
							<ng-container *ngIf="classTimetablesData?.timetable?.monday.length==0">


								<mat-card>Not
									Scheduled</mat-card>


							</ng-container>
							<ng-container *ngIf="classTimetablesData?.timetable?.monday.length>0">

								<ul *ngFor="let data of classTimetablesData?.timetable?.monday">
									<li>
										<mat-card>
											<span>Subject : {{data.subjectName}}</span> <br>
											<span>{{data.timeFrom}}-{{data.timeTo}}</span> <br>
											<span>Room Number : {{data.roomNo}}</span> <br>
										</mat-card>
									</li>
									<br>
								</ul>
							</ng-container>

						</span>

					</td>
					<td>
						<span>
							<ng-container *ngIf="classTimetablesData?.timetable?.tuesday.length==0">
								<mat-card>Not
									Scheduled</mat-card>
							</ng-container>

							<ng-container *ngIf="classTimetablesData?.timetable?.tuesday.length>0">
								<ng-container *ngFor="let data of classTimetablesData?.timetable?.tuesday">

									<mat-card>
										<span>Subject : {{data.subjectName}}</span> <br>
										<span>{{data.timeFrom}}-{{data.timeTo}}</span> <br>
										<span>Room Number : {{data.roomNo}}</span> <br>
									</mat-card>
									<br>
								</ng-container>

							</ng-container>


						</span>

					</td>
					<td>

						<span>
							<ng-container *ngIf="classTimetablesData?.timetable?.wednesday.length==0">
								<mat-card>Not
									Scheduled</mat-card>
							</ng-container>

							<ng-container *ngIf="classTimetablesData?.timetable?.wednesday.length>0">
								<ng-container *ngFor="let data of classTimetablesData?.timetable?.wednesday">

									<mat-card>
										<span>Subject : {{data.subjectName}}</span> <br>
										<span>{{data.timeFrom}}-{{data.timeTo}}</span> <br>
										<span>Room Number : {{data.roomNo}}</span> <br>
									</mat-card>
									<br>

								</ng-container>

							</ng-container>
						</span>
					</td>
					<td>
						<span>
							<ng-container *ngIf="classTimetablesData?.timetable?.thursday.length==0">
								<mat-card>Not
									Scheduled</mat-card>
							</ng-container>


							<ng-container *ngIf="classTimetablesData?.timetable?.thursday.length>0">
								<ng-container *ngFor="let data of classTimetablesData?.timetable?.thursday">


									<mat-card>
										<span>Subject : {{data.subjectName}}</span> <br>
										<span>{{data.timeFrom}}-{{data.timeTo}}</span> <br>
										<span>Room Number : {{data.roomNo}}</span> <br>
									</mat-card>
									<br>
								</ng-container>

							</ng-container>


						</span>

					</td>
					<td>
						<span>
							<ng-container *ngIf="classTimetablesData?.timetable?.friday.length==0">
								<mat-card>Not
									Scheduled</mat-card>
							</ng-container>

							<ng-container *ngIf="classTimetablesData?.timetable?.friday.length>0">

								<ng-container *ngFor="let data of classTimetablesData?.timetable?.friday">

									<mat-card>
										<span>Subject : {{data.subjectName}}</span> <br>
										<span>{{data.timeFrom}}-{{data.timeTo}}</span> <br>
										<span>Room Number : {{data.roomNo}}</span> <br>
									</mat-card>
									<br>

								</ng-container>
							</ng-container>


						</span>

					</td>
					<td>
						<span>
							<ng-container *ngIf="classTimetablesData?.timetable?.saturday.length==0">
								<mat-card>Not
									Scheduled</mat-card>
							</ng-container>

							<ng-container *ngIf="classTimetablesData?.timetable?.saturday.length>0">

								<ng-container *ngFor="let data of classTimetablesData?.timetable?.saturday">

									<mat-card>
										<span>Subject : {{data.subjectName}}</span> <br>
										<span>{{data.timeFrom}}-{{data.timeTo}}</span> <br>
										<span>Room Number : {{data.roomNo}}</span> <br>
									</mat-card>
									<br>

								</ng-container>
							</ng-container>


						</span>

					</td>
					<td>
						<span>
							<ng-container *ngIf="classTimetablesData?.timetable?.sunday.length==0">
								<li>
									<mat-card>Not
										Scheduled</mat-card>
								</li>
							</ng-container>

							<ng-container *ngIf="classTimetablesData?.timetable?.sunday.length>0">

								<ul *ngFor="let data of classTimetablesData?.timetable?.sunday">
									<li>
										<mat-card>
											<span>Subject : {{data.subjectName}}</span> <br>
											<span>{{data.timeFrom}}-{{data.timeTo}}</span> <br>
											<span>Room Number : {{data.roomNo}}</span> <br>
										</mat-card>
									</li>
									<br>
								</ul>
							</ng-container>



						</span>

					</td>

				</tr>
			</tbody>

		</table> -->
		
		<hr>

		<div class="table-responsive">
			<table class="table table-stripped">
				<thead>
					<tr>
						<th class="text text-center">Monday</th>
						<th class="text text-center">Tuesday</th>
						<th class="text text-center">Wednesday</th>
						<th class="text text-center">Thursday</th>
						<th class="text text-center">Friday</th>
						<th class="text text-center">Saturday</th>
						<th class="text text-center">Sunday</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text text-center">

							<ng-container *ngIf="classTimetablesData?.timetable?.monday.length==0">

								<div class="attachment-block clearfix">
									<span class="text text-center">Not <br>Scheduled</span><br>
								</div>
							</ng-container>
							<ng-container *ngIf="classTimetablesData?.timetable?.monday.length>0">
								<ng-container *ngFor="let data of classTimetablesData?.timetable?.monday">
									<div class="attachment-block clearfix">
										<span>Sub: {{data.subjectName}}</span><br>
										<span>Teacher: {{data.staffName}}</span><br>
										<span>{{data.timeFrom}}</span>
										<b class="text text-center">-</b>
										<span>{{data.timeTo}}</span><br>

										<span>Room No: {{data.roomNo}}</span><br>

									</div>

								</ng-container>
							</ng-container>
						</td>
						<td class="text text-center">

							<ng-container *ngIf="classTimetablesData?.timetable?.tuesday.length==0">

								<div class="attachment-block clearfix">
									<span class="text text-center">Not <br>Scheduled</span><br>
								</div>
							</ng-container>
							<ng-container *ngIf="classTimetablesData?.timetable?.tuesday.length>0">

								<ng-container *ngFor="let data of classTimetablesData?.timetable?.tuesday">
									<div class="attachment-block clearfix">

										<span class="text-green">Sub: {{data.subjectName}}</span><br>
										<span>Teacher: {{data.staffName}}</span><br>
										<span class="text-green">{{data.timeFrom}}</span>
										<b class="text text-center">-</b>
										<span class="text-green">{{data.timeTo}}</span><br>

										<span class="text-green">Room No: {{data.roomNo}}</span><br>

									</div>
								</ng-container>
							</ng-container>

						</td>
						<td class="text text-center">

							<ng-container *ngIf="classTimetablesData?.timetable?.wednesday.length==0">

								<div class="attachment-block clearfix">
									<span class="text text-center">Not <br>Scheduled</span><br>
								</div>
							</ng-container>
							<ng-container *ngIf="classTimetablesData?.timetable?.wednesday.length>0">

								<ng-container *ngFor="let data of classTimetablesData?.timetable?.wednesday">
									<div class="attachment-block clearfix">

										<span class="text-green">Sub: {{data.subjectName}}</span><br>
										<span>Teacher: {{data.staffName}}</span><br>
										<span class="text-green">{{data.timeFrom}}</span>
										<b class="text text-center">-</b>
										<span class="text-green">{{data.timeTo}}</span><br>

										<span class="text-green">Room No: {{data.roomNo}}</span><br>

									</div>
								</ng-container>
							</ng-container>
						</td>
						<td class="text text-center">

							<ng-container *ngIf="classTimetablesData?.timetable?.thursday.length==0">

								<div class="attachment-block clearfix">
									<span class="text text-center">Not <br>Scheduled</span><br>
								</div>
							</ng-container>
							<ng-container *ngIf="classTimetablesData?.timetable?.thursday.length>0">

								<ng-container *ngFor="let data of classTimetablesData?.timetable?.thursday">
									<div class="attachment-block clearfix">

										<span class="text-green">Sub: {{data.subjectName}}</span><br>
										<span>Teacher: {{data.staffName}}</span><br>
										<span class="text-green">{{data.timeFrom}}</span>
										<b class="text text-center">-</b>
										<span class="text-green">{{data.timeTo}}</span><br>

										<span class="text-green">Room No: {{data.roomNo}}</span><br>

									</div>
								</ng-container>
							</ng-container>
						</td>
						<td class="text text-center">

							<ng-container *ngIf="classTimetablesData?.timetable?.friday.length==0">

								<div class="attachment-block clearfix">
									<span class="text text-center">Not <br>Scheduled</span><br>
								</div>
							</ng-container>
							<ng-container *ngIf="classTimetablesData?.timetable?.friday.length>0">

								<ng-container *ngFor="let data of classTimetablesData?.timetable?.friday">
									<div class="attachment-block clearfix">

										<span class="text-green">Sub: {{data.subjectName}}	</span><br>
										<span>Teacher: {{data.staffName}}</span><br>
										<span class="text-green">{{data.timeFrom}}</span>
										<b class="text text-center">-</b>
										<span class="text-green">{{data.timeTo}}</span><br>

										<span class="text-green">Room No: {{data.roomNo}}</span><br>

									</div>
								</ng-container>
							</ng-container>
						</td>
						<td class="text text-center">

							<ng-container *ngIf="classTimetablesData?.timetable?.saturday.length==0">

								<div class="attachment-block clearfix">
									<span class="text text-center">Not <br>Scheduled</span><br>
								</div>
							</ng-container>
							<ng-container *ngIf="classTimetablesData?.timetable?.saturday.length>0">

								<ng-container *ngFor="let data of classTimetablesData?.timetable?.saturday">
									<div class="attachment-block clearfix">

										<span class="text-green">Sub: {{data.subjectName}}</span><br>
										<span>Teacher: {{data.staffName}}</span><br>
										<span class="text-green">{{data.timeFrom}}</span>
										<b class="text text-center">-</b>
										<span class="text-green">{{data.timeTo}}</span><br>

										<span class="text-green">Room No: {{data.roomNo}}</span><br>

									</div>
								</ng-container>
							</ng-container>
						</td>
						<td class="text text-center">

							<ng-container *ngIf="classTimetablesData?.timetable?.sunday.length==0">

								<div class="attachment-block clearfix">
									<span class="text text-center">Not <br>Scheduled</span><br>
								</div>
							</ng-container>
							<ng-container *ngIf="classTimetablesData?.timetable?.sunday.length>0">

								<ng-container *ngFor="let data of classTimetablesData?.timetable?.sunday">
									<div class="attachment-block clearfix">

										<span class="text-green">Sub: {{data.subjectName}}</span><br>
										<span>Teacher: {{data.staffName}}</span><br>
										<span class="text-green">{{data.timeFrom}}</span>
										<b class="text text-center">-</b>
										<span class="text-green">{{data.timeTo}}</span><br>

										<span class="text-green">Room No: {{data.roomNo}}</span><br>

									</div>
								</ng-container>
							</ng-container>
						</td>
					</tr>
				</tbody>
			</table>
		</div>










	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>